<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 , maximum-scale=1.0, user-scalable=0">
    <title>welcome to omega project</title>
    <link rel="stylesheet" href="{% static 'css/post_style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/after_order.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/last_orders.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}" media="screen">
    <script rel="script" type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    <script rel="script" type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script rel="script" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script rel="script" type="text/javascript" src="{% static 'js/after_order.js' %}"></script>



</head>
<body onload="text_limit()">
{% block content %} {% endblock %}

<script type="text/javascript">
    window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance !== "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>

</body>
</html>