<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 , maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'css/blocked.css' %}" type="text/css">
    <title>شما مسدود شده اید</title>
</head>
<body>
<div class="pos-message">
    <img class="img" src="{% static 'img/permission_denied.jpg' %}"><br />
    <span>متاسفانه شما توسط مدیریت مسدود شده اید و اجازه ی دسترسی به منو را ندارید.</span>
</div>
</body>
</html>