{% extends "base.html" %}
{% load static %}

{% block content %}
    <span style="display: none;" id="user">{{ user }}</span>
    <span style="display: none" id="order-id">{{ order_id }}</span>
    <span style="display: none" id="remaining-time">{{ remaining_time }}</span>
    <span id="complete-order-url" style="display: none;">{% url 'complete_order' %}</span>


    <div style="display: none" id="bg-color">
    </div>
    <div id="popup-add-comment" class="popup-comment-box" style="display: none;">
    <div onclick="disappear_comment_popup()" class="close-btn"><span class="close-font">&times;</span></div>
    <div class="popup-content">
    <span id="notification-text" class="confirm-message">سفارش شما آماده است.</span>
    </div>
    <!--<button onclick="disappear_comment_popup()" type="button" class="popup-button delete-confirm-button">حذف کن</button> -->
    <button onclick="disappear_comment_popup()" type="button" class="popup-button popup-confirm-button">تایید</button>
    </div>



    <div id="all-content">

    </div>
    <!-------------------------------------------------------------------------->
    <!-- top menu -->
    <div class="top-menu menu">
        <div class="menu-block icon-block">
            <img src="{% static 'img/omega.png' %}" class="fit-icons" alt="omega_icon">
        </div>
        <div class="menu-block rest-name">
            <span class="rest-name-font">{{ options.rest_name }}</span>
        </div>
        <div class="menu-block menu-icon">
            <div onclick="showSideMenu()" class="content-icon">
                <div class="side-menu-icon"></div>
                <div class="side-menu-icon"></div>
                <div class="side-menu-icon"></div>
            </div>
        </div>
        <div id="side-menu-id" style="display: none" class="side-menu">
            <div class="pos-link">
                <div class="link-icon">
                    <img class="fit-link-icon" src="{% static 'img/search.png' %}">
                </div>
                <div class="text-link">
                    <span>جستجو</span>
                </div>
            </div>

            <div class="pos-link">
                <div class="link-icon">
                    <img class="fit-link-icon" src="{% static 'img/about.png' %}">
                </div>
                <div class="text-link">
                    <span>درباره رستوران</span>
                </div>
            </div>

            <div class="pos-link">
                <div class="link-icon">
                    <img class="fit-link-icon" src="{% static 'img/omega-icon.jpg' %}">
                </div>
                <div class="text-link">
                    <span>درباره اُمگا</span>
                </div>
            </div>

            <div class="pos-link">
                <div class="link-icon">
                    <img class="fit-icons" src="{% static 'img/omega-icon.jpg' %}">
                </div>
                <div class="text-link">
                    <span>تست 1 </span>
                </div>
            </div>

            <div class="pos-link">
                <div class="link-icon">
                    <img class="fit-icons" src="{% static 'img/omega-icon.jpg' %}">
                </div>
                <div class="text-link">
                    <span>تست 2</span>
                </div>
            </div>

            <div class="pos-link">
                <div class="link-icon">
                    <img class="fit-icons" src="{% static 'img/omega-icon.jpg' %}">
                </div>
                <div class="text-link">
                    <span>تست 3 </span>
                </div>
            </div>




        </div>
    </div>


    <!------------------------------------------------------------------------------------------>
    <div class="screen">
    <div id="inform-box" class="pos-timer">
        <div id="pos-order-status" class="order-info">
            <span  class="order-info-text">وضعیت سفارش شما : </span>
            <span id="order-status"  class="order-info-text">{{ order_status }}</span>
        </div>
        {% if ready %}
        <div class="order-info" id="time-order-info" style="display: none">
            <span id="min-time-order" class="order-info-text"></span>
            <span id="min-text" class="order-info-text">دقیقه و </span>
            <span id="sec-time-order" class="order-info-text"></span>
            <span class="order-info-text">ثانیه تا آماده شدن سفارش شما</span>
        </div>
        {% else %}
            <div class="order-info" id="time-order-info">
            <span id="min-time-order" class="order-info-text"></span>
            <span id="min-text" class="order-info-text">دقیقه و </span>
            <span id="sec-time-order" class="order-info-text"></span>
            <span class="order-info-text">ثانیه تا آماده شدن سفارش شما</span>
            </div>
        {% endif %}
        </div>

    <!--<form name="add-comment-form" method="post" enctype="multipart/form-data" onsubmit="return comment_form_validation();" novalidate>-->
    <!--{% csrf_token %}-->
    <div class="pos-comment-form">
        <span class="inform-comment">از طریق فرم زیر می توانید نظر خود را در مورد غذاهایی که سفارش داده اید، ثبت کنید: </span>
        <br />
        <select id="food-name" name="food_name">
            {% for food in order %}
                <option name="food_id">{{ food.food.name }}</option>
            {% endfor %}
        </select><br />
        <span id="user-name-error" style="display: none" class="error">* لطفا نام خود را وارد کنید.</span>
        <input name="user_name" id="user-name" type="text" placeholder="نام خود را وارد کنید" />
        <br />
        <span id="comment-content-error" style="display: none" class="error">* لطفا متن مورد نظر خود را وارد کنید.</span>
        <textarea name="comment_content" id="comment-content" placeholder="متن مورد نظر خود را وارد کنید..."></textarea>

        <button onclick="send_comment('{% url 'send_comment' %}')" type="button" class="comment-btn">ارسال</button>
    </div>
    <!--</form> -->
    </div>





<a class="pos-link" href="{% url 'Omega-project-home' %}"><div class="bottom-menu menu">
    <span class="link-text">بازگشت به منو</span>
    </div></a>

{% endblock content %}