<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0 , maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'css/add_category.css' %}" type="text/css">
    <script rel="script" type="text/javascript" src="{% static 'js/admin.js' %}"></script>
    <script rel="script" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <title>title</title>
</head>
<body>
<div id="all">

    <div class="food-header">
        <span class="header">افزودن دسته</span>
    </div>

    <form name="add-cat-form" method="post" enctype="multipart/form-data" onsubmit="return cat_form_validation();" novalidate>
        {% csrf_token %}
    <div class="row">
    <label class="label-text">نام </label><span>* :</span>
        <input onkeyup="show_or_hide_error(this, 'cat-name-error', false)" name="cat_name" type="text" class="input name-input" />
        <span style="display: none" id="cat-name-error" class="error margin-right">* لطفا نام دسته را وارد کنید.</span>
    </div>
    <div class="row">
        <label class="label-text">انتخاب تصویر </label><span>* :</span>
        <input id="file" name="file" type="file" class="input file-input" />
        <span id="no-selected-file-error" style="display: none" class="error margin-right">* لطفا تصویری برای دسته انتخاب کنید.(فرمت های مجاز: jpeg, jpg, png, gif)</span><br />
        <span id="invalid-format-error" style="display: none" class="error margin-right">* فرمت تصویر انتخاب شده مجاز نیست. فرمت های مجاز: jpeg, jpg, png, gif</span>
    </div>

    <div class="row background">
        <button type="submit" class="btn btn-add">
            <span>افزودن</span>
        </button>
        <a href="{% url 'add_food' %}"><button type="button"  class="btn btn-cancel">
            <span>انصراف</span>
    </button></a>
    </div>
    </form>

</div>
<script type="text/javascript">
    window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance !== "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>
</body>
</html>